<div class="row">
  <%= link_to "Home", home_url %>
  <%= link_to "Weapons", weapons_path %>
</div>

<div class="row">
  <% @weapon.skins.each do |skin| %>
       <% url = "http://steamcommunity.com/market/priceoverview" %>
       <% skin_info = RestClient.get(url,{:params => {:country => 'DE', :currency => 1, :appid => 730, :market_hash_name => 'AK-47 | Vulcan (Factory New)'}}) %> 
       <%= image_tag(skin.picture) %>
       <p> <%= skin.name %>
     Starting at : <%= JSON::parse(skin_info)['lowest_price'] %></p>
  <% end %>
</div>
